body {
    background: #BFDBFE;
}

div#header {
    text-align: center;
}

.hide {
    display: none;
}

.visible {
    display: block;
}

img.center {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

img.center {
    margin-left: auto;
    margin-right: auto;
}

div.card {
    /* this margin gives me a border outside my div */
    margin: 10px;
    padding: 15px;
    padding-top: 35px;
    /* background: rgb(232, 210, 233); */
    block-size: auto;
}
